[mysqld]

# Configs
pid-file = /var/run/mysqld/mysqld.pid
socket = /var/run/mysqld/mysqld.sock
default-storage-engine = INNODB
# Where the database files are stored inside the container
datadir	= /var/lib/mysql
thread_stack = 512K
# My application special configuration
max_allowed_packet = 128M
sql-mode = 'STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION'
# Accept connections from any IP address
bind-address = 0.0.0.0
explicit_defaults_for_timestamp = false